:root {
    --default-font: "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
  
  .geovisto-map-styles {
    height: 85vh;
    width: 90vw;
    font-family: var(--default-font);
  }
  
  .demo-footer {
    height: 10vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding-top: 10px;
    
    .export-btn {
      color:gray;
      border-radius: 12px;
      display: inline-block;
      background: none;
      border: 2px solid gray;
      padding: 10px 100px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      
      &:hover {
          background-color: gray;
          color: whitesmoke;
          cursor: pointer;
      }
    }
  }
  